@model TableParameters<Altkategori>
@{
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";

}

<div class="portlet light bordered collapse" id="ekle">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus font-blue-hoki"></i>
            <span class="caption font-blue-hoki bold uppercase">&nbsp;  Yeni Alt Kategori Ekle </span>
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <form method="post" action="/AltKategori/Kayit" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Kategori Adı
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownList("kategoriId", (SelectList)ViewBag.Kategori, "Kategori seçiniz.", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Alt Kategori Adı
                    </label>
                    <div class="col-md-9">
                        @Html.TextBox("ad", "", new { @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Alt Kategori İconu
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownList("icon", new SelectList(new List<SelectListItem> {
                                      new SelectListItem { Text = "Kanepe", Value = "f-icon f-icon-sofa"},
                                      new SelectListItem { Text = "Koltuk", Value = "f-icon f-icon-armchair"},
                                      new SelectListItem { Text = "Sandalye", Value = "f-icon f-icon-chair"},
                                      new SelectListItem { Text = "Yemek Masası", Value = "f-icon f-icon-dining-table"},
                                      new SelectListItem { Text = "Tv Ünitesi", Value = "f-icon f-icon-media-cabinet"},
                                      new SelectListItem { Text = "Konsol", Value = "f-icon f-icon-media-cabinet"},
                                      new SelectListItem { Text = "Orta Sehpa", Value = "f-icon f-icon-table"},
                                      new SelectListItem { Text = "Kitaplık", Value = "f-icon f-icon-bookcase"},
                                      new SelectListItem { Text = "Yatak", Value = "f-icon f-icon-bedroom"},
                                      new SelectListItem { Text = "Çocuk Odası", Value = "f-icon f-icon-children-room"},
                                      new SelectListItem { Text = "komodin", Value = "f-icon f-icon-nightstand"},
                                      new SelectListItem { Text = "Yatak Odası", Value = "f-icon f-icon-bathroom"},
                                      new SelectListItem { Text = "Gardrop", Value = "f-icon f-icon-wardrobe"},
                                      new SelectListItem { Text = "Portmanto", Value = "f-icon f-icon-shoe-cabinet"},
                                      new SelectListItem { Text = "Aydınlatma", Value = "f-icon f-icon-lightning"},
                                      new SelectListItem { Text = "Halı", Value = "f-icon f-icon-carpet"},
                                      new SelectListItem { Text = "Aksesuar", Value = "f-icon f-icon-accessories"},
                                      new SelectListItem { Text = "Mutfak", Value = "f-icon f-icon-kitchen"},
                                      new SelectListItem { Text = "Ofis", Value = "f-icon f-icon-office"},
                                      }, "Value", "Text"),
                                      "Seçiniz", new { @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline blue-hoki btn-circle">
                        <i class="glyphicon glyphicon-floppy-saved"></i>&nbsp; Kaydet
                    </button>
                    &nbsp;<a data-toggle="collapse" href="#ekle" class="btn  default btn-circle"> İptal </a>
                </div>
            </form>
        </div>
    </div>
</div>

@using (Ajax.BeginForm("Liste", "AltKategori", null, new AjaxOptions { OnBegin = "OnBegin", OnComplete = "OnComplete", OnFailure = "OnFailure", OnSuccess = "CustomOnSuccess" }, null))
{

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-blue-hoki">
                <i class="fa fa-object-group font-blue-hoki"></i>
                <span class="caption font-blue-hoki bold uppercase">
                    &nbsp; Alt  Kategori Listesi
                </span>
                <span class="caption-helper"></span>
            </div>
            <div class="actions">
                <a class="btn btn-circle blue-hoki btn-outline btn-sm" data-toggle="collapse"
                   href="#ekle">
                    <span class="fa fa-plus"></span> Yeni Alt Kategori Ekle
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="widget">
                <div class="tablePars">
                    <div class="dataTables_filter">
                        <span>  Ara : </span>
                        <input id="SearchKey" name="SearchKey" type="text" placeholder=" Ara :" /><div class="srch"></div>
                    </div>
                    <span class="icos-info tipS search-info" title="--"></span>
                    <div class="dataTables_length">
                        <span class="showentries"> Görünen: </span>
                        <select id="Take" name="Take">
                            <option value="10" selected="selected">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <table class="tDefault fullwidth table table-hover" id="table-list"
                       data-search-input="SearchKey" data-take-input="Take">
                    <thead class="font-blue-hoki">
                        <tr>
                            <th> Kategori Adı </th>
                            <th> Alt Kategori Adı </th>
                            <th style="width:140px;"> İşlemler </th>

                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("~/Views/AltKategori/Partial/_Liste.cshtml", Model.Data)
                    </tbody>
                </table>

                @Html.StrajaxPager(Model.TotalCount, Model.PageIndex, Model.PageCount, "table-list")
            </div>
        </div>
    </div>
}

@section footerScript{
    <script>
        function CustomOnSuccess(result, status, xhr) {
            OnSuccess(result, status, xhr);
            ReloadData("#table-list", result);
        }
    </script>
}
