@model List<Musteri>
@if (Model != null && Model.Count > 0)
{
    foreach (var m in Model)
    {
        <tr>
            <td> @m.adSoyad </td>
            <td> @m.il- @m.ilce </td>
            <td> @m.teslimAdresi</td>
            <td> @m.cep1 <br /> @m.cep2</td>
            <td class="tableActs" style="width: 140px;">
                <a title="Detay" class="btn btn-sm btn-success circle" href="/Musteri/Detay/@m.musteriId"><span class="fa fa-search"></span></a>
            </td>
        </tr>
    }

}
else
{
    <tr>
        <td colspan="3">
           Kayıt bulunamadı.
        </td>
    </tr>
}




