@model Takim
@{
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
    int takimId = Model.takimId;
    string sliderGorsel = Unibim.Melanom.WebUI.Models.Connection.DbModel.EF.TakimGorsel.Where(x => x.takimId == takimId).FirstOrDefault().gorsel;

}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit bold font-blue-hoki"></i>
            <span class="caption font-blue-hoki bold uppercase">&nbsp;   Takım Düzenle </span>
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <form method="post" action="/Takim/Duzenle" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Takım Slider Görseli
                    </label>
                    <div class="col-md-9">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail " data-trigger="fileinput" style="width: 1180px; height: 700px;">
                                <img src="~/Content/Images/Takım/@sliderGorsel" width="1180" height="700" />
                            </div>
                            <div>
                                <span style="color:red"> Takım slider görseli 1350*700 boyutlarında olmalıdır! </span>
                                <br />
                                <span class="btn red btn-outline btn-file btn-circle">
                                    <span class="fileinput-new"> Resim Seç </span>
                                    <span class="fileinput-exists"> Değiştir </span>
                                    <input type="file" name="slider" required class="form-control">
                                </span>
                                <a href="javascript:;" class="btn red fileinput-exists btn-circle" data-dismiss="fileinput"> Sil</a>
                            </div>
                            @Html.ValidationMessage("slider", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Takım Alt Kategorisi
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.altkategoriId, (SelectList)ViewBag.Kategori, "", new { @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Takım Adı
                    </label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.takimAdi, new { @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Takım Açıklama Başlığı
                    </label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.aciklamaBaslik, new { @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Takım Açıklaması
                    </label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(x => x.aciklama, new { @class = "form-control", @required = "true", @rows = 4 })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label font-blue-hoki bold">
                        Takım Slider Görseli
                    </label>
                    <div class="col-md-9">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail " data-trigger="fileinput" style="width: 360px; height: 300px;">
                                <img src="~/Content/Images/Takım/@Model.aciklamaGorsel" width="360" height="300" />
                            </div>
                            <div>
                                <span style="color:red"> Takım açıklama görseli 360*300 boyutlarında olmalıdır! </span>
                                <br />
                                <span class="btn red btn-outline btn-file btn-circle">
                                    <span class="fileinput-new"> Resim Seç </span>
                                    <span class="fileinput-exists"> Değiştir </span>
                                    <input type="file" name="resim" required class="form-control">
                                </span>
                                <a href="javascript:;" class="btn red fileinput-exists btn-circle" data-dismiss="fileinput"> Sil</a>
                            </div>
                            @Html.ValidationMessage("resim", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline blue-hoki btn-circle">
                        <i class="glyphicon glyphicon-floppy-saved"></i>&nbsp; Kaydet
                    </button>
                    &nbsp;<a data-toggle="collapse" href="/BayiIslem/Kayit" class="btn  default btn-circle"> İptal </a>
                </div>
            </form>
        </div>
    </div>
</div>



